@model ExpenseTrackerEntity.ViewModel.HomeVM;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout2";
}
@if (TempData["success"] != null)
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success("@TempData["success"]");
    </script>
}
@if (TempData["error"] != null)
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error("@TempData["error"]");
    </script>
}
<div class="container">
    <div class="row">

        <button type="button" class="btn btn-outline-success my-2 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add a Category
        </button>
        @if (Model.Categories?.Count > 0)
        {


            <table class="table my-5">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var index = 1;
                    }
                    @foreach (var item in Model.Categories)
                    {

                        <tr>
                            <th scope="row">@index</th>
                            <td>@item.Name</td>
                            <td>
                                <a onclick="OpenModal(@item.CategoryId)" class="btn btn-outline-primary">Edit</a>

                                <a asp-action="DeleteCategory" asp-route-id="@item.CategoryId" class="btn btn-outline-danger">Delete</a>
                            </td>

                        </tr>
                        index++;
                    }


                </tbody>
            </table>
        }
        else
        {
            <p class="fs-3 my-5">No Categories Available</p>
        }
    </div>

</div>


<div id="showmodal"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center align-items-center">
                <p class="fs-2">Create a Category</p>
            </div>
            <form onsubmit="return validateForm()" method="post" asp-action="CreateCategory" class="mx-1 mx-md-4 p-4">



                <div class="d-flex flex-row align-items-center mb-4">

                    <div class="form-outline flex-fill mb-0">
                        <input asp-for="CategoryName" type="text" id="form3Example3c" class="form-control" />
                        <label class="form-label" for="form3Example3c">Enter your category name</label><br />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Create</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    function OpenModal(id) {

        $('#showmodal').load('/Home/ShowEditCategoryModal/' + id, () => {
            const modal = new bootstrap.Modal(document.getElementById('category'));
            modal.show();
        });
    }

    function validateForm() {

        if (!$('#myform').valid()) {
            return false;
        }
        return true;
    }

</script>