@model ExpenseTrackerEntity.ViewModel.RecurrenceVM;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout2";
}
@if (TempData["success"] != null)
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success("@TempData["success"]");
    </script>
}
@if (TempData["error"] != null)
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error("@TempData["error"]");
    </script>
}
<div class="container my-3">
    <div class="row">
        @* <button class="">Add a Category</button> *@
        <button type="button" class="btn btn-success my-2 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add a Reccurence Expense
        </button>
        <div class="d-flex justify-content-end">
            <select class="form-select w-25" onchange="pagination(1,false,false)" id="frequencyDropdown"  aria-label="Default select example">
                <option selected value="0">Select your frequency</option>
                @if (Model.Freequencies != null)
                {
                    foreach (var item in Model.Freequencies)
                    {
                        <option value="@item.FreequencyId">@item.Name</option>
                    }
                }
                



            </select>
        </div>
        <div>
            <input id="search" type="text" class="form-control w-25" onchange="pagination(1,false,false)" placeholder="Search by name">
        </div>


        <div id="showTable" class="shadow my-3"></div>

        <div class="d-flex justify-content-end">
            <select onchange="pagination(1,false,false)" id="pageDropdown" aria-label="Default select example">
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>



            </select>
        </div>

    </div>

</div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center align-items-center">
                <p class="fs-2">Create a Recurrence Expense</p>
            </div>
            <form id="myForm" onsubmit="return validateForm()" method="post" asp-action="CreateRecurenceExpense" class="mx-1 mx-md-4 p-4">

                <div class="d-flex flex-row align-items-center mb-4">

                    <div class="form-outline flex-fill mb-0">
                        <input asp-for="RecurrenceName" type="text" id="ExpenseName" class="form-control" />
                        <label class="form-label" for="form3Example3c">Enter your Recurrence name</label><br />
                        <span asp-validation-for="RecurrenceName" class="text-danger"></span>
                    </div>
                </div>



                <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                        <select class="form-select" id="CategoryDropdown" asp-for="FrequencyId" aria-label="Default select example">
                            <option selected disabled value="">Select the frequency</option>
                            @foreach (var item in Model.Freequencies)
                            {
                                <option value="@item.FreequencyId">@item.Name</option>
                            }
                        </select>
                        <label class="form-label">select your recurrence frequency</label><br />
                        <span asp-validation-for="FrequencyId" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">

                    <div class="form-outline flex-fill mb-0">
                        <input asp-for="RecurrenceDate" type="date" id="ExpenseDate" class="form-control" />
                        <label class="form-label" for="form3Example3c">Enter your recurrence date</label><br />
                        <span asp-validation-for="RecurrenceDate" class="text-danger"></span>

                    </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">

                    <div class="form-outline flex-fill mb-0">
                        <input asp-for="Amount" type="text" id="ExpenseAmount" class="form-control" />
                        <label class="form-label" for="form3Example3c">Enter your recurrence amount</label><br />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">

                    <div class="form-outline flex-fill mb-0">
                        <input asp-for="Description" type="text" id="ExpenseDescription" class="form-control" />
                        <label class="form-label" for="form3Example3c">Enter your recurrence Description</label>

                    </div>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Add</button>
                </div>





            </form>
        </div>
    </div>
</div>
<div id="showmodal"></div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>

    function validateForm() {
        if (!$('#myForm').valid()) {
            return false;
        }
        return true;
    }

    function OpenModal(id) {

        $('#showmodal').load('/Recurrence/ShowRecurrenceModal/' + id, () => {
            const modal = new bootstrap.Modal(document.getElementById('recurrence'));
            modal.show();
        });
    }
    function DeleteModal(id) {
        $('#showmodal').load('/Recurrence/ShowDeleteRecurrenceModal/' + id, () => {
            const modal = new bootstrap.Modal(document.getElementById('delete'));
            modal.show();
        });
    }
    $(document).ready(function () {

        pagination(1, false, false);
    });


    function pagination(number, orderbyDate, orderByValue) {

        var itemsPerPage = document.getElementById('pageDropdown').value;
        var frequency = document.getElementById('frequencyDropdown').value;
        var search = document.getElementById('search').value;
        if (number == 0) {
            number = $('#number').text();
        }
        $.ajax({
            url: '/Recurrence/RecurrenceTable',
            method: 'GET',

            data: {

                currentPage: number,
                frequency:frequency,
                search:search,
                itemsPerPage: itemsPerPage,
                orderByDate: orderbyDate,
                orderByAmount: orderByValue,

            },
            success: function (response) {
                $('#showTable').html(response);
                $('#number').html(number);
            },
            error: function (error) {
                console.error('Error in AJAX', error);
            }
        });
    }
    function Increament(totalpages) {
        var a = $('#number').text();
        var b = parseInt(a);
        b = b + 1;
        if (b <= totalpages) {
            pagination(b);
        }
    }
    function Decreament() {
        var a = $('#number').text();
        var b = parseInt(a);
        b = b - 1;
        if (b > 0) {
            pagination(b);
        }
    }
</script>